# Terabox
TERABOX_NDUS=your_ndus_tokens_here

# Server 
TB_HOST=0.0.0.0
TB_PORT=8090

# Database

TB_DB_PATH=/data/terabox.db

# Caminhos dos HDs (mountpoints)
HD_WD_1TB=/mnt/HD-WD-1TB
HD_WD_500GB=/mnt/pve/HD-WD500GB

# Terabox base path (pasta raiz no Terabox)
TERABOX_BASE_PATH=/1. vvy (server - backup)